parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/_bootstrap.php
    ignoreErrors:
        - message: '#Unable to resolve the template type RealObjectType in call to method ProxyManager\\Factory\\LazyLoadingValueHolderFactory::createProxy\(\)#'
          path: %currentWorkingDirectory%/src/OpenContainer.php
        - message: '#\$className of method ProxyManager\\Factory\\LazyLoadingValueHolderFactory::createProxy\(\) expects class-string<object>, string\|null given#'
          path: %currentWorkingDirectory%/src/OpenContainer.php
    level: 7
    paths:
        - src
