<phpunit bootstrap="_bootstrap.php">
    <testsuites>
        <testsuite name="All Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/IContainer.php</file>
        </exclude>
    </coverage>
</phpunit>
